<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATJnEobkSjP1q5D-THJhWoDsMo675W4nc</string>
	<key>GCM_SENDER_ID</key>
	<string>105265930770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iyyappan.foods</string>
	<key>PROJECT_ID</key>
	<string>iyyappanfoods-app</string>
	<key>STORAGE_BUCKET</key>
	<string>iyyappanfoods-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105265930770:ios:b7185f9c73015054f82ecb</string>
</dict>
</plist>